a {
  color: #333;
}

.brand {
  background-color: #64B5F6;
  padding: 70px 0;
  min-height: 40%;
  color: white;
  position: relative;
  text-align: center;
  & .site-name {
    font-size: 4rem;
    font-weight: 400;
    display: inline-block;
  }
}

.copyright {
  font-size: 14px;
  color: #999;
  margin-top: 40px !important;
  & a {
    color: #778087;
  }
}

pre {
  overflow: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 50px 0;
  line-height: 1.7;
  font-size: 1.2rem;
  & p {
    margin: 0 0 15px 0;
  }
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 40px;
  text-align: center;
  width: 100%;
  & .nav-list {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    overflow: hidden;
  }
  & .nav-item {
    float: left;
    & a {
      margin-right: 20px;
      color: white;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      display: block;
      height: 40px;
      line-height: 40px;
      transition: all .3s ease;
      &.active {
        border-color: #255f8e;
      }
    }
  }
}

.box-header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.box-sub-title {
  font-size: 1.2rem;
  margin: 20px 0;
  text-align: center;
}

.element-inline {
  border-radius: 2px 2px 0 0 ;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

.example-code {
  margin-bottom: 20px;
  border-left: 2px solid #64B5F6;
  & pre > code {
    font-size: 13px;
    padding: 20px;
  }
}
