<div class="box-header">
  Buttons
</div>
<div class="box-content">
  <div class="element-inline">
    {% include "./button-all.html" %}
  </div>
  <div class="example-code">
    <pre><code class="language-html">{% filter trim %}
      {% include "./button-all.html" %}
    {% endfilter %}</code></pre>
  </div>
  <div class="element-inline">
    {% include "./button-large.html" %}
  </div>
  <div class="example-code">
    <pre><code class="language-html">{% filter trim %}
      {% include "./button-large.html" %}
    {% endfilter %}</code></pre>
  </div>
  <div class="element-inline">
    {% include "./button-small.html" %}
  </div>
  <div class="example-code">
    <pre><code class="language-html">{% filter trim %}
      {% include "./button-small.html" %}
    {% endfilter %}</code></pre>
  </div>
  <div class="element-inline">
    {% include "./button-mini.html" %}
  </div>
  <div class="example-code">
    <pre><code class="language-html">{% filter trim %}
      {% include "./button-mini.html" %}
    {% endfilter %}</code></pre>
  </div>
  <div class="element-inline">
    {% include "./button-block.html" %}
  </div>
  <div class="example-code">
    <pre><code class="language-html">{% filter trim %}
      {% include "./button-block.html" %}
    {% endfilter %}</code></pre>
  </div>

  <div class="box-sub-title">
    Button group
  </div>
  <div class="element-inline">
    {% include "./button-group.html" %}
  </div>
  <div class="example-code">
    <pre><code class="language-html">{% filter trim %}
      {% include "./button-group.html" %}
    {% endfilter %}</code></pre>
  </div>
</div>
