<form>
  <fieldset class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control">
  </fieldset>
  <fieldset class="form-group">
    <label for="fruits">Fruits</label>
    <div class="select">
      <select id="fruits" class="form-control">
        <option>Apple</option>
        <option>Banana</option>
        <option>Watermelon</option>
      </select>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label>
      Where are you from?
    </label>
    <label class="form-radio">
      <input type="radio" name="planet"> Earth
      <span class="form-icon"></span>
    </label>
    <label class="form-radio">
      <input type="radio" name="planet"> Mars
      <span class="form-icon"></span>
    </label>
    <label class="form-radio">
      <input type="radio" name="planet"> Sun
      <span class="form-icon"></span>
    </label>
  </fieldset>
  <fieldset class="form-group">
    <label class="form-checkbox">
      <input type="checkbox"> Remember me
      <span class="form-icon"></span>
    </label>
  </fieldset>
  <button type="submit" class="button">Submit</button>
</form>
