<div class="box-header">
  Grid
</div>
<div class="box-content">
  <div class="box-description">
    We use exactly the <a href="https://github.com/1000ch/grd/" target="_blank">Grd</a> layout library, but all class names here are lowercased.
  </div>
  <div class="element-inline example-grid">
    {% include "./grid-example.html" %}
  </div>
  <div class="example-code">
    <pre><code class="language-html">{% filter trim %}
      {% include "./grid-example.html" %}
    {% endfilter %}</code></pre>
  </div>
</div>
