@define-mixin button-type $normal-color, $active-color, $active-bg {
  color: white;
  background-color: $normal-color;
  border-color: $normal-color;
  &:hover {
    border-color: $active-color;
    background-color: $active-color;
  }
  &.button-ghost {
    background-color: white;
    border-color: $normal-color;
    color: $normal-color;
    &:hover {
      border-color: $active-color;
      color: $active-color;
      background-color: $active-bg;
    }
  }
}

.button {
  padding: 0;
  user-select: none;
  border-radius: $border-radius;
  padding: .375rem 1rem;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-color: #ccc;
  color: #555;
  &:hover {
    border-color: #adadad;
    background-color: #e6e6e6;
  }
  &:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.19);
  }
}

.button-block {
  display: block;
  width: 100%;
}

/* button size */
@define-mixin button-size $padding, $font-size {
  padding: $padding;
  font-size: $font-size;
}

.button-large {
  @mixin button-size .75rem 1.25rem, 1.25rem;
}

.button-small {
  @mixin button-size .25rem .75rem, .85rem;
}

.button-mini {
  @mixin button-size .1rem .45rem, .6rem;
}

/* button types */
.button-black {
  @mixin button-type $grey-800, $grey-900, $grey-200;
}

.button-primary {
  @mixin button-type $blue, $blue-600, $blue-50;
}

.button-success {
  @mixin button-type $green, $green-600, $green-50;
}

.button-info {
  @mixin button-type $cyan, $cyan-600, $cyan-50;
}

.button-danger {
  @mixin button-type $red-700, $red-900, $red-50;
}

.button-warning {
  @mixin button-type $amber-700, $yellow-900, $yellow-50;
}

/* floating button */
.button-floating {
  box-shadow: $z-depth-1;
  transition: background-color .3s ease, box-shadow .3s ease;
  &:hover {
    box-shadow: $z-depth-2;
  }
}

/* button group */
.button-group {
  font-size: 0;
  & .button {
    border-radius: 0;
    z-index: 1;
    position: relative;
    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }
    &:hover {
      z-index: 2;
    }
  }
}
