.fr {
  float: right;
}

.fl {
  float: left;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inner {
  padding: 10px;
  &.2x {
    padding: 20px;
  }
}

.inner-vertical {
  padding: 10px 0;
  &.2x {
    padding: 20px 0;
  }
}

.inner-horizontal {
  padding: 0 10px;
  &.2x {
    padding: 0 20px;
  }
}

/* box shadow depth */
.z-depth-0 {
  box-shadow: $z-depth-0;
}

.z-depth-1 {
  box-shadow: $z-depth-1;
}

.z-depth-2 {
  box-shadow: $z-depth-2;
}

.z-depth-3 {
  box-shadow: $z-depth-3;
}

.z-depth-4 {
  box-shadow: $z-depth-4;
}

.z-depth-5 {
  box-shadow: $z-depth-5;
}
