.form-group {
  display: block;
  & label {
    display: block;
    margin-bottom: 5px;
  }
}

.form-control {
  border: 1px solid #d0d0d0;
  border-radius: $border-radius;
  padding: .375rem .75rem;
  width: 100%;
  margin-bottom: 15px;
  &:focus {
    border-color: #66afe9;
    box-shadow: 0 0 0 3px rgba(48,144,228,.1);
  }
}

.select {
  position: relative;
  margin-bottom: 15px;
  & select {
    appearance: none;
    outline: none;
    padding-right: 2.25rem;
    margin-bottom: 0;
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin-top: -.15rem;
    pointer-events: none;
    border-top: .35rem solid;
    border-right: .35rem solid transparent;
    border-bottom: .35rem solid transparent;
    border-left: .35rem solid transparent;
  }
}
